.main {
  width: 100%;
  display: block;   /* important */
  padding-top: 0;   /* or whatever you want */
}

/* The container that holds hero content */
.heroContainer {
  margin-top: 20px;
  min-height: 500px; /* <--- THIS is key */
  display: flex;
  flex-direction: column;
  align-items: center;
}
